In [24]:
import requests
import pandas as pd
from datetime import datetime

In [18]:
DAILY = 11
API_URL = 'https://www.nordpoolgroup.com/api/marketdata/page/%i'
r = requests.get(API_URL % DAILY, params={
            'currency': "SEK",
            'endDate': datetime.now().strftime("%d-%m-%Y"),
        })

currency = r.json()['currency']
data = r.json()['data']

In [20]:
start_time = data['DataStartdate']
end_time = data['DataEnddate']
updated = data['DateUpdated']

In [21]:
start_time

'2022-10-08T00:00:00'

In [25]:
def fetch_electricity_prices(historical=False):
    HOURLY = 10
    DAILY = 11
    API_URL = 'https://www.nordpoolgroup.com/api/marketdata/page/%i'
    r = requests.get(API_URL % DAILY, params={
                'currency': "SEK",
                'endDate': datetime.now().strftime("%d-%m-%Y"),
            })

    areas=['SE1', 'SE2', 'SE3', 'SE4']
    areas_data = {}
    areas_data[areas[0]] = {}

    currency = r.json()['currency']
    data = r.json()['data']
    start_time = data['DataStartdate']
    end_time = data['DataEnddate']
    updated = data['DateUpdated']

    area_price_list = []
    for r in data['Rows']:
        for c in r['Columns']:
            if c['Name'] in areas:
                area_price_list.append({"start_time": r["StartTime"], "end_time": r["EndTime"], "area": c["Name"], "price":c['Value']})
    pdf = pd.DataFrame(area_price_list)
    pdf["day"] = pdf["start_time"].map(lambda x: datetime.strptime(x, '%Y-%m-%dT%H:%M:%S').strftime("%Y-%m-%d"))
    pdf = pdf.drop(["start_time", "end_time"], axis=1)
    pdf.price = pdf.price.map(lambda x: float(x.replace(" ", "").replace(",", ".")))
    pdf = pdf.groupby(["day", "area"]).agg({'price': ['mean']}).reset_index()
    pdf.columns = ["day", "area", "price"]
    if not historical:
        today = (date.today()).strftime("%Y-%m-%d")
        pdf = pdf[pdf.day == today]

    SE1 = pdf[pdf.area == "SE1"].drop(["area"], axis=1)
    SE1.columns = ["day", "price_se1"]
    SE2 = pdf[pdf.area == "SE2"].drop(["area"], axis=1)
    SE2.columns = ["day", "price_se2"]
    SE3 = pdf[pdf.area == "SE3"].drop(["area"], axis=1)
    SE3.columns = ["day", "price_se3"]
    SE4 = pdf[pdf.area == "SE4"].drop(["area"], axis=1)
    SE4.columns = ["day", "price_se4"]

    pdf = SE1.merge(SE2, on=["day"], how = "outer")
    pdf = pdf.merge(SE3, on=["day"], how = "outer")
    pdf = pdf.merge(SE4, on=["day"], how = "outer")

    pdf["timestamp"] = pdf["day"].map(lambda x: int(float(datetime.strptime(x, "%Y-%m-%d").timestamp()) * 1000))
    return pdf

In [26]:
df = fetch_electricity_prices(True)

In [27]:
df

           day  price_se1  price_se2  price_se3  price_se4      timestamp
0   2022-10-08      81.04      81.04      81.04      81.04  1665201600000
1   2022-10-09     125.66     125.66     125.66     125.66  1665288000000
2   2022-10-10     118.70     118.70     118.70     118.70  1665374400000
3   2022-10-11      98.91      98.91      98.91      98.91  1665460800000
4   2022-10-12     206.57     207.40    1407.31    1407.31  1665547200000
5   2022-10-13     296.50     296.50     983.66     983.66  1665633600000
6   2022-10-14     970.67     970.67    1660.38    1660.38  1665720000000
7   2022-10-15     211.18     211.18     354.88     354.88  1665806400000
8   2022-10-16     197.20     197.20     197.20     197.20  1665892800000
9   2022-10-17     261.77     261.77     873.78     873.78  1665979200000
10  2022-10-18     291.30     291.30     749.47     749.47  1666065600000
11  2022-10-19     215.17     215.17    1304.03    1304.03  1666152000000
12  2022-10-20     561.12     561.12    1289.41    1289.41  1666238400000
13  2022-10-21    1003.43    1003.43    1362.99    1362.99  1666324800000
14  2022-10-22     706.66     927.39    1144.53    1144.53  1666411200000
15  2022-10-23     529.65     566.73     700.27     700.27  1666497600000
16  2022-10-24     723.07     723.07     792.16     792.16  1666584000000
17  2022-10-25     614.71     614.71     800.07     800.07  1666670400000
18  2022-10-26    1001.83    1001.83    1191.54    1191.54  1666756800000
19  2022-10-27     659.03     659.03     711.00     711.00  1666843200000
20  2022-10-28     338.85     338.85     703.50     703.50  1666929600000
21  2022-10-29     157.00     157.00     157.00     157.00  1667016000000
22  2022-10-30     416.80     416.80     852.66     853.68  1667102400000
23  2022-10-31     478.35     478.35    1324.94    1515.19  1667188800000
24  2022-11-01     526.47     526.47     657.80     657.80  1667275200000
25  2022-11-02     431.11     431.11     605.85     605.85  1667361600000
26  2022-11-03     365.85     365.85     549.75     549.75  1667448000000
27  2022-11-04     286.57     286.57     290.87     620.87  1667534400000
28  2022-11-05     290.33     290.33     417.53     864.33  1667620800000
29  2022-11-06     351.79     351.79     351.79     351.79  1667707200000
30  2022-11-07     423.53     423.53     423.53     423.53  1667797200000